@import './base.css';
@import '../styles/_colors.scss';
@import '../styles/_layout.scss';

@font-face {
  font-family: 'IranSans';
  src:
    url('./fonts/iranSans/IranSans.woff2') format('woff2'),
    url('./fonts/iranSans/IranSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 100%) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

#global-loader {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background: #fff; /* fallback – match your light theme */
  z-index: 9999; /* above everything */
}
.spinner {
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.path {
  stroke: #409eff;
  stroke-width: 4;
  stroke-linecap: round;
}
